[user]
	name = SpaghettiC0des
  email = 7194216+SpaghettiC0des@users.noreply.github.com
  signingKey = 971E1D1C38991E47
[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	gpgSign = false
[tag]
	gpgSign = false
[gpg]
	program = /opt/homebrew/bin/gpg
[core]
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
