[user]
	name = kmlopez-ns
	email = 121936829+kmlopez-ns@users.noreply.github.com
	signingKey = E30D7F68A6704555
[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	gpgSign = false
[tag]
	gpgSign = false
[gpg]
	program = /opt/homebrew/bin/gpg
[core]
    editor = nvim -u ~/.config/nvim/init-git.vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
